header {
  padding-block: 32px;
  color: var(--text-md);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #profile {
  display: flex;
  gap: 32px;

}

header #profile > div {
  max-width: 384px;
}
header #profile img {
  width: 176px;
  height: 176px;
  object-fit: cover;
  border-radius: 50%
}

header #profile h1 {
  color: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}


#info {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 280px;
}

#info li {
  display: flex;
  align-items: center;
  gap: 8px;
}